body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

h1 {
    margin-top: 20px;
}

#searchBox {
    height: 22px;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

.tag:hover {
    color: #00aeff; /* Color on hover */
  }

.tag.active {
    background-color: #ddd;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.project {
    width: 700px;
    height: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.project-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#tags {
    max-width:1200px;
    margin: auto;
} 

.tags {
    margin-top: 10px;
}

.tag-item {
    display: inline-block;
    padding: 2px 6px;
    background-color: #f1f1f1;
    margin: 2px;
}


.project-info {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease; /* Add transition for height */
}

.project-info.show {
    height: 100px;
}